@use "../ds-system/ds-colors" as *;
@use "../ds-system/ds-typography" as *;

.button {
  @include r-s18-h24;
  display: block;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  cursor: pointer;
  transition: 0.3s;
  text-align: center;

  color: $color__button_text;
  border: 1px solid $color__button_border;
  border-radius: 9999px;
  outline: none;

  background-color: $color__button_bg;


  &:hover:not(:active):not(:disabled) {
    filter: contrast(120%);
  }

  &:active:not(:disabled) {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 2px #ffffff, 0 0 0 4px $color__button_border;
  }

  &:focus-visible:not(:disabled) {
    opacity: 0.3;
  }

  &:disabled {
    background-color: $color__button_bg__disabled;
    border-color: $color__button_border__disabled;
    cursor: default;
  }

  &__white {
    background-color: $color__button_bg__white;
    border: 1px solid $color__button_border;

    &:hover:not(:active):not(:disabled) {
      background-color: $color__button_bg__white;
    }

    &:active:not(:disabled) {
      border-color: $color__button_border__white;
    }
  }

  &__mail {
    &::before {
      content: "";
      background-image: url("../img/button-mail.svg");
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 14px;
      width: 16px;
      height: 12px;
      display: inline-block;
      vertical-align: middle;
      transform: translateY(-1px);
    }
  }
}
