@use "../ds-system/ds-colors" as *;
@use "../ds-system/ds-typography" as *;

.form {
  &_wrapper {
    display: flex;
    flex-direction: column;

    text-align: center;

    padding: 32px 40px 44px 40px;

    background-color: $color--bg-form-body;
  }

  &_header {
    @include r-s32-h38;

    margin: 0 0 8px 0;
  }

  &_text-accent {
    @include r-s24-h32;

    margin: 0 0 32px 0;
  }

  &_group {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 32px;
    }
  }

  &_button {
    width: 100%;
    padding: 12px 0;
  }

  &_footer {
    padding: 24px 40px;

    background-color: $color--bg-form-footer;
    border-top: 2px solid #e5e7eb;
  }

  &_footer-text {
    @include r-s12-h20;

    color: $color__text-grey;

    margin: 0;

    & a {
      color: $color--text_black;
      font-weight: 700;
    }
  }

  @media (max-width: 768px) {
    &_wrapper {
      padding: 32px 36px 44px 36px;
    }

    &_header {
      @include r-s28-h36;
    }

    &_text-accent {
      @include r-s20-h32;
    }

    &_footer {
      padding: 24px 36px;
    }
  }
}
