.logo {
  display: flex;
  align-items: center;

  box-sizing: border-box;

  &_text {
    @include r-s22-h27;

    margin: 0;
    padding: 0;

    color: $black;
  }

  &_image {
    width: 27px;
    height: 27px;
  }
}
