@use "../ds-system/ds-colors" as *;
@use "../ds-system/ds-typography" as *;

.logo {
  display: flex;
  align-items: center;

  box-sizing: border-box;

  &_text {
    @include r-s22-h27;

    margin: 0;
    padding: 0;

    color: $color--text_black;
  }

  &_image {
    width: 40px;
    height: 40px;
  }

  @media (max-width: 1200px) {
    &_text {
      display: none;
    }
  }
}
