.navigation {
  @include clear-list;

  display: flex;
  flex-wrap: wrap;

  &_item {
    padding-right: 32px;

    &:last-child {
      padding-right: 0;
    }
  }

  &_link {
    @include r-s16-h24;

    text-decoration: none;
    color: $color__text_link;

    &:hover:not(:active) {
      color: $color__text_link__hover;
    }

    &:active {
      color: rgba($color__text_link__hover, 0.5);
    }

    &:focus-visible {
      outline: none;
      opacity: 0.3;
    }

    &__active {
      color: $color__text_link__active;
    }
  }
}
