.tariff {
  position: relative;

  padding: 40px;
  border-radius: 16px;

  background-color: $color_primary;

  &_title {
    @include r-s40-h46;

    margin-top: 0;
  }

  &_text {
    @include r-s20-h32;

    color: $color--text_red;

    margin-top: 0;
    margin-bottom: 55px;
  }

  &_button {
    padding: 12px 32px;
  }

  &_price {
    @include b-s135-h135;

    position: absolute;
    bottom: -30px;
    right: -15px;

    color: $color--bg;
  }

  @media (max-width: 768px) {
    padding: 36px;

    &_title {
      @include r-s24-h32;
    }

    &_text {
      @include r-s18-h24;
    }

    &_button {
      padding: 12px 32px;

      margin-bottom: 150px;
    }
  }
}
