.user {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  &_avatar {
    height: 40px;
    width: 40px;

    border-radius: 50%;
  }

  &_name {
    @include r-s22-h27;

    margin-right: 12px;
  }
}
