.user {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  transition: all 0.3s ease;

  &_avatar {
    height: 36px;
    width: 36px;

    border-radius: 50%;
  }

  &_name {
    @include r-s22-h27;

    margin-right: 12px;
  }

  @media (max-width: 1200px) {
    &_name {
      display: none;
    }
  }

  @media (max-width: 768px) {
    z-index: 2;

    position: fixed;
    top: 0;
    left: -100%;

    visibility: hidden;
    opacity: 0;

    flex-direction: row;

    width: 100%;

    margin-top: 201px;
    padding: 20px 28px;

    background: #ffffff;

    border-bottom: 1px solid #e5e7eb;

    &_name {
      display: inline;

      margin-left: 12px;
    }

    &.active {
      left: 0;

      visibility: visible;
      opacity: 1;
    }
  }
}
