body {
  display: flex;
  flex-direction: column;

  color: $color--text_black;
  background-color: $color--bg;

  font-family: Calibri, sans-serif;

  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
