$color_primary: #f1df6f;

$color--bg: #f2f2f2;
$color--bg-footer: #ffffff;
$color--bg-form-body: #ffffff;
$color--bg-form-footer: #f9fafb;
$color__bg-benefits: #ffffff;
$color__bg-direction: #ffffff;

$color--text_black: #000000;
$color--text_red: #f50f22;
$color--text_red-dark: #991b1b;
$color--text_brown: #92400e;
$color__text_green: #065f46;
$color__text-blue: #1e40af;
$color__text-blue-dark: #3730a3;
$color__text-violet : #5b21b6;
$color__text-magenta: #9d174d;
$color__text-grey: #626262;

$color__text_link: $color--text_black;
$color__text_link__hover: $color--text_red;
$color__text_link__active: $color--text_red;

$color__input_text: $color--text_black;
$color__input_text_error: $color--text_red-dark;
$color__input_border: #d1d5db;
$color__input_border__focus: $color_primary;
$color__input_border__error: #ef4444;

$color__button_text: $color--text_black;
$color__button_bg: $color_primary;
$color__button_bg__disabled: #e5e7eb;
$color__button_bg__white: #ffffff;
$color__button_border: $color_primary;
$color__button_border__white: #d1d5db;
$color__button_border__disabled: #e5e7eb;

$color__burger: #111827;
$color__burger__hover: #f1df6f;
