@mixin typography_template($font-size, $line-height, $font-weight: 400) {
  font-size: $font-size;
  font-weight: $font-weight;
  font-style: normal;
  line-height: $line-height;
}

@mixin r-s14-h20 {
  @include typography_template(14px, 20px);
}

@mixin r-s16-h24 {
  @include typography_template(16px, 24px);
}

@mixin r-s18-h24 {
  @include typography_template(18px, 24px);
}

@mixin r-s20-h32 {
  @include typography_template(20px, 32px);
}

@mixin r-s22-h27 {
  @include typography_template(22px, 27px);
}

@mixin b-s18-h24 {
  @include typography_template(18px, 24px, 700);
}

