@mixin typography_template($font-size, $line-height, $font-weight: 400) {
  font-size: $font-size;
  font-weight: $font-weight;
  font-style: normal;
  line-height: $line-height;
}

@mixin r-s12-h20 {
  @include typography_template(12px, 20px);
}

@mixin r-s14-h20 {
  @include typography_template(14px, 20px);
}

@mixin r-s16-h24 {
  @include typography_template(16px, 24px);
}

@mixin r-s18-h24 {
  @include typography_template(18px, 24px);
}

@mixin r-s20-h32 {
  @include typography_template(20px, 32px);
}

@mixin r-s22-h27 {
  @include typography_template(22px, 27px);
}

@mixin r-s24-h32 {
  @include typography_template(24px, 32px);
}

@mixin r-s28-h36 {
  @include typography_template(28px, 36px);
}

@mixin r-s32-h38 {
  @include typography_template(32px, 38px);
}

@mixin r-s40-h46 {
  @include typography_template(40px, 46px);
}

@mixin b-s18-h24 {
  @include typography_template(18px, 24px, 700);
}
